<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Kontakt</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Tartu Kutsehariduskeskus</a></li>
                <li><a href="#">Kopli 1, 50115, Tartu</a></li>
                <li><a href="#">info@khk.ee</a></li>
                <li><a href="#">7 361 866</a></li>
            </ul>
        </div>
    </div>
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
            &copy; Tartu Kutsehariduskeskus 2018
        </div>
    </div>
</footer>