{% extends "alamenuud/layout.html" %}

{% block content %}
<div style="margin-bottom: 24px;" class="mdl-grid">
    {% for uudis in uudised %}
    <section style="background: white; width: 100%" class="mdl-cell mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>{{uudis.nimetus}}</h4>
                {{uudis.tutvustus}}
            </div>
            <div class="mdl-card__actions">
                <a href="/post/{{uudis.id}}" class="mdl-button">Loe veel</a>
            </div>
        </div>
    </section>
    {% endfor %}
    <div class="mdl-grid" style="margin-top: 24px;">
        <a class="mdl-button--icon mdl-button mdl-js-button mdl-js-ripple-effect" href="?page=1">
            <i class="material-icons">arrow_back</i>
        </a>
        {% if uudised.has_previous %}
        <a class="mdl-button--icon mdl-button mdl-js-button mdl-js-ripple-effect" href="?page={{ uudised.previous_page_number }}">
            <i class="material-icons">chevron_left</i>
        </a>
        {% endif %}
        
        <span class="mdl-button mdl-js-button" disabled>
            Page {{ uudised.number }} of {{ uudised.paginator.num_pages }}.
        </span>
        
        {% if uudised.has_next %}
        <a class="mdl-button--icon mdl-button mdl-js-button mdl-js-ripple-effect" href="?page={{ uudised.next_page_number }}">
            <i class="material-icons">chevron_right</i>
        </a>
        <a class="mdl-button--icon mdl-button mdl-js-button mdl-js-ripple-effect" href="?page={{ uudised.paginator.num_pages }}">
            <i class="material-icons">arrow_forward</i>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

