<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tartu Kutsehariduskeskus - IKT osakond</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" /></head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
    
    {% load static %}
    <link rel="stylesheet" href="{% static "alamenuud/style.css" %}">
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include 'alamenuud/header.html' %}
        <main class="mdl-layout__content" id="main">
            <div class="main-bg mdl-layout__tab-panel is-active">
                <section class="section--center mdl-grid mdl-grid--no-spacing">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </main>
        {% include 'alamenuud/footer.html' %}
    </div>
    <script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/et.js"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                editable: false,
                eventColor: 'rgb(0,84,166)',
                events: [
                    {% for sundmus in kalender%}
                    {
                        title: "{{ sundmus.nimetus }}",
                        start: "{{ sundmus.sisu|safe }}"
                    },
                    {% endfor %}
                ]
            })
        });
    </script>
</body>
</html>