{% extends "alamenuud/layout.html" %}

{% block content %}
<div class="section-width mb-24 mdl-grid">

<section class="section-bg mdl-cell mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            {% if post %}
                <h3>{{sisu.nimetus}}</h3>
                <h6>{{sisu.kuupaev|date:"j.m.Y"}}</h6>
                <p>{{sisu.sisu|safe}}</p>
            {% else %}
                {{sisu.sisu|safe}}
            {% endif %}
        </div>
    </div>
</section>
</div>
{% endblock %}

